<h1 style='color:blue'>Assigments related to Pandas using Tips dataset</h1>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Load tips data into df
df = sns.load_dataset('tips')

In [6]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

<h2 style='color:red'>Retrieving Data </h2>

#### Display first 10 rows

#### Display column names

#### Find out how many columns are of type object and how many numeric

#### Display all summaries related to total_bill and tip

#### Display datatype of size column

#### Display all unique values in column day

#### Display rows where sex is Female and day is Sunday

#### Display second column value in 5th row

#### Display rows where size is 2,4 or 6

#### Display first 10 rows where day is Sunday and total_bill is more than 5

#### Display first 3 columns of last 10 rows

#### Display columns from sex to time for first 20 rows

#### Display day, total_bill and % of tip amount to total_bill where day is Sunday

#### Display rows where total_bill is more than 10 and tip amount is less than 2

#### Display total_bill, tip and day for 10 randomly selected rows

#### Display data from columns where name contains letter a

#### Display rows by sorting them by tip amount in desending order

#### Display day and sex in uppercase

#### Display rows where day starts with S

#### Display message low if total_bill is less than 10, medium if less than 20 otherwise high

#### Display how many null values we have in each column

#### Display top 5 tip amounts for smokers

#### Display total_bill and tip amounts rounded

<h2 style='color:red'>Adding and deleting rows and columns</h2>

#### Add a new column called tip_per to store % of tip to total_bill

#### Add a new row at the end of dataframe

#### Return dataframe after deleting rows with index 10 and 20

#### Return dataframe after deleting columns smoker and time

<h2 style='color:red'>Grouping data</h2>

#### Display average total_bill for each time

#### Display total tip amount for each day and each sex

#### Display total bill amount for each size on Sunday

#### Display average total_bill for female on Sunday

#### Display the 10 transactions in which customers were the most generous

#### Find out on which day we had more customers

#### Display top 3 transactions based on bill amount for each day

#### Display ratio of each day's total_bill to the total_bill for all days

#### Display max and min total_bill for each day

#### Display day on the left and sex at the top and display total bill amount at the intersection

#### Display total number of customers on each day for each time

#### Display day on left, sum and average of bill amount and tip amount for each sex

<h2 style='color:red'>Manipulating data</h2>

#### Change Female to f and Male to m in sex column

#### Rename column names sex and time to gender and type

#### Bin total_bill to 4 bins

#### Split total_bill into 4 bins with 0-5, 6 - 10, 11-20 and above

#### Divide tip amount into 4 bins based on percentile

<h2 style='color:red'>Draw plots using plot() method </h2>

#### Display bar graph for total bill amount for each day

#### Display bar graph with one bar for male and one for female for tip amount of each day. Use day for X axis and total tip amount for Y axis and legend for sex.

#### Draw scatter plot comparing total_bill with size of the table

#### Draw a graph to show outliers in tip amount, if any