<h1 style='color:blue'>Assignments related to Seaborn using Tips dataset</h1>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load tips data into df
df = sns.load_dataset('tips')

In [6]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

<h2 style='color:red'>Categorical Plots</h2>

#### Display bar plot for total bill amount for each day

#### Display two bar plots - one for male another for female - for total_bill amount for each day

#### Display a bar plot for number of transactions for each time

#### Display a boxplot for distribution of tip amount. Hide outliers.

#### Display two boxpots for total_bill - one for smokers and another for non-smokers

## Distribution Plots

#### Draw scatter plot for tip and total_bill

#### Draw scatter plot for tip and total_bill with data points separated by sex

#### Draw a pair plot for tip and total_bill

#### Draw a join plot for total_bill and size

#### Draw two join plots for total_bill and tip - one for male and another for female

## Relational Plots

#### Draw scatter plot showing the relationship between tip and total_bill

#### Draw multiple scatter plots showing relationship between tip and total_bill one for each day

#### Draw scatter plot showing relationship between size and tip amount percentage to total_bill. Extend it to show different colors for different times.

## Regression Plots

#### Draw regression plot for tip and total_bill. Draw different lines for male and female.

#### Draw different regression plots comparing size and tip amount for each day. Then extend it to show different lines for male and female.

## Matrix Plots

#### Draw a heatmap to show % of correlation between tip, size and total_bill. Make sure % is displayed as well.